<h1 class="mt-4">Lista de paises</h1>
<div class="input-group">
  <div class="form-outline">
    <input type="text" id="form1" name="form1" class="form-control"
    (keyup)="onSearchChange()"/>
    <label class="form-label" for="form1">Ingrese el nombre del pais</label>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="!btnOk" (click)="searchCountry()">
   Buscar
  </button>
</div>

<hr/>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Nombre</th>
                        <th scope="col">Región</th>
                        <th scope="col">Area</th>
                        <th scope="col">Población</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries">
                        <td>{{ country.name.common}}</td>
                        <td>{{ country.region}}</td>
                        <td>{{ country.area}}</td>
                        <td>{{ country.population}}</td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>